@use "../../../Styles/mixins" as mxn;

.field {
  position: relative;
  @include mxn.flex;

  &__label {
    position: absolute;
    top: 3px;
    left: 17px;
    color: var(--faded-white);
    font-style: italic;
  }

  &__input {
    flex: 1 0;
    padding: 4px 16px;
    max-width: 250px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: var(--border-colorless) var(--white);
    color: var(--white);
    outline: none;
  }
  &__text-area {
    flex: 1 0;
    padding: 4px 16px;
    // max-width: 450px;
    min-height: 31px;
    border-radius: 16px 16px 4px 16px;
    background-color: transparent;
    box-shadow: var(--border-colorless) var(--white);
    color: var(--white);
    outline: none;
  }
}
