@use "../../Styles/mixins" as mxn;

.block {
  max-width: 100%;
  max-height: 100vh;
  color: white;
  text-align: left;
  flex: 1 0;
  padding-left: 32px;
  @include mxn.flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 32px;
  position: relative;

  .small--block {
    flex: 1 0;
    margin: 0 auto;
    min-width: 75%;
    max-width: 75%;
  }
  .side-nav {
    @include mxn.side-nav;
  }
}
